<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>

    <h3>Customer Confirmation</h3>
    The customer is confirmed: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}" />
    <br><br>
    With postal code: <span th:text="${customer.postalCode}" />
    <br><br>
    Number of free passes: <span th:text="${customer.freePasses}" />
    <br><br>
    Course Code: <span th:text="${customer.courseCode}" />

</body>
</html>