<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
    First Name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last Name: <input type="text" th:field="*{lastName}" />
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="c : ${countries}" th:value="${c}" th:text="${c}" />
    </select>
    <br><br>
    Favorite Programming Language:
    <input type="radio" th:each="l : ${languages}"
                        th:field="*{favoriteLanguage}"
                        th:value="${l}"
                        th:text="${l}" />
    <br><br>
    Favorite Operating Systems:
    <input type="checkbox"  th:each="s : ${systems}"
                            th:field="*{favSystems}"
                            th:value="${s}"
                            th:text="${s}" />
    <br><br>
    <input type="submit" value="Submit">

</form>

</body>
</html>